:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.8em;
  margin: 20px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

input, select {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3b3b3b;
  box-shadow: inset 0 0 2px #00d790;
  transition: border-color 0.25s;
}

input:focus, select:focus {
  border: 2px solid #00d790;
}

input:hover {
  border-color: #64ffcb;
}

input:active {
  border: 3px #64ffcb;
}

input[type="text"] {
  width: 500px;
}

/* Make checkbox invisible but overlay on top of pseudo checkbox */
input[type="checkbox"] {
  opacity: 0;
  position: relative;
  top: 0;
  left: 33px;
  z-index: 1;
  width: 25px;
  height: 25px;
}

/* Pseudo checkbox */
input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  color: #242424;
  line-height: 25px;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(100, 255, 203);
  border-radius: 2px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-image: url("src/assets/checkbox.png");
  background-size: 25px;
}


input[type="number"] {
  width: 150px;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  font-size: 0.9em;
  padding: 6px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

button:hover {
  border-color: #64ffcb;
}

.table-header {
  display: flex;
}

.new-button {
  position: relative;
  top: 50px;
  left: 30px;
  height: 100%;
}

.add-button, .cancel-button {
  margin-right: 6px;
}

.remove-button {
  padding: 1px;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20%;
}

.remove-button:hover {
  box-shadow: inset 0 0 20px darkred;
  border-color: red;
}

.edit-form, .add-form {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.edit-form-inner, .add-form-inner {
  background-color: rgb(36, 36, 36);
  box-shadow: 0 0 5px black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
}

.inner-expense {
  width: 1250px;
}

.inner-allocation {
  width: 70%;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #64ffcb;
  transition: 0.75s ease;
}

tbody tr:hover {
  box-shadow: 0 0 30px black;
}

td, th {
  text-align: left;
  padding: 20px;
  padding-right: 70px;
}

